
// -------- 搜索相关 start--------- //
:global {
  .amap-sug-result {
    // width: 196px;
    background-color: var(--bgCommonHigh);
    box-shadow: 0px 4px 8px var(--shadowCommonShadow1);
    border: none;
    border-radius: 4px;
    margin-left: -9px;
    padding: 5px 0;
    .auto-item {
      font-family: 'PingFang SC';
      font-style: normal;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: var(--textCommonPrimary);
      padding: 5px 8px;
      &:hover {
        background: var(--bgBglessHover);
      }
    }
  }
}

.searchContent {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchBlock {
  width: 160px;
  
}


.searchIcon {
  color: var(--colorFontColorFC1);
}

// -------- 搜索相关 end--------- //


// -------- 图标label start --------- //
:global {
  .amap-marker-label {
    // width: 86px;
    display: block;
    max-width: 164px;
    height: 32px;
    background-color: var(--bgCommonHigh);
    border: 1px solid var(--borderCommon);
    border-radius: 4px;
    padding: 5px 8px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--textCommonPrimary);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}


// -------- zoom相关 start--------- //

.toolBar {
  position: absolute;
  width: 32px;
  height: 64px;
  right: 24px;
  bottom: 24px;
  background-color: var(--bgCommonHigh);
  box-shadow: 0px 2px 12px var(--shadowCommonShadow1);
  border-radius: 4px;
  z-index: 99;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .tooBarIcon {
    cursor: pointer;
    fill: var(--textCommonTertiary);
    &:hover {
      fill: var(--textBrandDefault);
    }
  }
}

// -------- zoom相关 end--------- //


// -------- 信息窗体相关 --------- //
:global {
  .infowindowContent {
    display: block;
    max-width: 164px;
    height: 32px;
    background-color: var(--bgCommonHigh);
    border: 1px solid var(--borderCommon);
    border-radius: 4px;
    padding: 5px 8px;
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: var(--textCommonPrimary);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}