.settingContent { 
  flex-shrink: 0;
  width: 300px;
  border-left: 'solid 1px gainsboro';
  padding: 16px 22px;
}

h1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0 0;
  padding-bottom: 8px;
  margin: 0 0;
}


.marginType {
  margin-bottom: 5px;
  margin-top: 5px;
}

.buttonContent {
  margin-top: 20px;
}

.formItem {
  margin-bottom: 10px;
}

h3 {
  padding: 10px 0 5px 0;
}

.infoInput {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 13px;
}